@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.App {
  text-align: center;
}

.react {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .react {
    animation: react-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #232a3b;
  padding:20px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes react-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  width: 400px;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 16pt;
  color: #456081;
}

main {
  max-width: 400px;
  width: 90%;
}

div.Screen {
  background-color: #232c42;
  height: 100px;
  border-radius: 2px;
  margin-bottom: 10px;
  border: 20px solid #38649950;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: flex-end;
  text-align: end;
  word-break: break-word;
  line-height: 2.2em;
}

div.keyboard div.keys {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  display: grid;
}

div.keyboard div.keys button {
  height: 60px;
  border-radius: 2px;
  border: none;
  font-size: 20pt;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

div.keyboard div.keys button:last-child {
  grid-column-end: span 2;
  background-color: #f17645;
  color: #000;
  font-weight: bold;
}

button.tools {
  background-color: #386499;
  color: #a0c3ee;
}

button.number {
  background-color: #658bb9;
  font-weight: bold;
  color: #252d3f;
}

div.expression {
  font-size: 12pt;
  color: #788fbd;
}

div.curr {
  font-size: 30pt;
  color: #bed0f5;
}

div.PastListSession {
  margin: 20px 0;
}

div.PastList {
  border-bottom: 1px dashed #386499;
  font-size: 10pt;
}

div.PastList:last-child {
  border: 0;
}

div.PastList div.item {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
}

div.PastList div.item .date {
  font-weight: normal;
  text-align: left;
  color: #386499;
}

div.PastList div.item .expressionList {
  font-size: 14pt;
  color: #a0c3ee;
}

span.credit {
  margin: 40px 0;
  font-size: 9pt;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #788fbd;
}

span.credit a {
  color: #f17645;
  text-decoration: none;
}